@model IEnumerable<My_Smart_Factory.Data.Vo.FullInsp.FullInspEquipRecordVo>

@{
    ViewData["Title"] = "EquipDetail";
}

<h1>EquipDetail</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InspEquipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecIES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accuracy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InspEquipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecIES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ETR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accuracy)
            </td>

        </tr>
}
    </tbody>
</table>
