@model IEnumerable<My_Smart_Factory.Data.Vo.FullInsp.FullInspRecordVo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullInspNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrderNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullInspNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkOrderNo)
                </td>
                <td>
                    <a asp-action="proddetail" asp-route-id="@item.Id">상품검사목록</a> |
                    <a asp-action="EquipDetail" asp-route-id="@item.Id">검사장비목록</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
