@using My_Smart_Factory.Data.Vo.Pi;
@model List<PiVo>



@if (Model != null && Model.Count() != 0)
{
    <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">관리번호</th>
                    <th scope="col">스펙</th>
                    <th scope="col">로트번호</th>
                    <th scope="col">수정</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <input name="id" type="hidden" value="@item.id">

                    <td>
                        <input name="id" type="hidden" value="@item.id">
                        <input name="controlNumber" type="text" class="form-control" value="@item.controlNumber">
                    </td>
                    <td>
                        <input name="specification" type="text" class="form-control" value="@item.specification">
                    </td>
                    <td>
                        <input name="lotNumber" type="text" class="form-control" value="@item.lotNumber">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" onClick="Update()">수정</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
}
<a class="btn btn-primary" asp-controller="Pi" asp-action="Create">Pi 생성</a>

<script src="/js/Pi/Index.js">
</script>

