


<h1>ProdInfo 메인페이지</h1>

@if (Model != null && Model.Count() != 0)
{
    <table class="table text-center">
            <thead>
                <tr>
                <th scope="col">상품이름</th>
                <th scope="col">상품코드</th>
                <th scope="col">상품무게</th>
                    <th scope="col">수정</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <input name="id" type="hidden" value="@item.id">

                    <td>
                        <input name="id" type="hidden" value="@item.id">
                        <input name="prodName" type="text" class="form-control" value="@item.prodName">
                    </td>
                    <td>
                        <input name="prodCode" type="text" class="form-control" value="@item.prodCode">
                    </td>
                    <td>
                        <input name="prodWeight" type="text" class="form-control" value="@item.prodWeight">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" onClick="Update()">수정</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
}
<a class="btn btn-primary" asp-controller="ProdInfo" asp-action="Create">Pi 생성</a>

<script src="/js/Ajax.js"></script>
<script src="/js/ProdInfo/Index.js"></script>

